@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.App {
  /* text-align: center; */
  font-family: 'Montserrat', sans-serif;
  
}

.head{
  text-align: center;
}

.res{
  float: left;
  padding: 5px;
  font-size: large;
  word-wrap: break-word;
  overflow: auto;

}

.res2{
  float: right;
  padding: 5px;
  font-size: large;
  word-wrap: break-word;
}
.top{
  padding: 5px;
}

.header{
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
}

.comp{
  padding: 5px;
  font-weight: 600;
  color: gray;
}


.job{
  display: flex;
  margin: 10px 0;
  padding: 40px;
  max-width: 70%;
  padding: 10px 0;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
