@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.App {
  /* text-align: center; */
  font-family: 'Montserrat', sans-serif;
  /* background: -webkit-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
  background: -o-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
  background: -moz-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
  background: linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
   */
   /* background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
   background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
   background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
   background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%); */
}

body{
  background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
}

.head{
  color: white;
  text-align: center;
}
.subhead{
  text-align: center;
  color: rgb(206, 201, 201);
}

.res{
  float: left;
  padding: 5px;
  font-size: large;
  word-wrap: break-word;
  overflow: auto;

}

.res2{
  float: right;
  padding: 5px;
  font-size: large;
  word-wrap: break-word;
}
.top{
  padding: 5px;
}

.header{
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
}

.comp{
  padding: 5px;
  font-weight: 600;
  color: gray;
}


.job{
  display: flex;
  margin: 10px 0;
  padding: 40px;
  max-width: 70%;
  padding: 10px 0;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
}


.card{
  display: flex;
  margin: 10px 0;
  padding: 40px;
  max-width: 70%;
  padding: 10px 0;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  margin-bottom: 10px;
}

.radioItem{
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  padding: 10px;
  
}
.job:hover{
  cursor: pointer;
  color: darkgray;
}

.step-align{
  display: flex;
  align-items: center;
  justify-content: center;
}


.details{
  height: 30px;
  float: right;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
